<!DOCTYPE html>
<html>
<head>
  <title>Burger Tracker</title>
</head>
<body>
  <h1>Welcome to the Burger Tracker</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/restaurants/">Browse By Restaurants</a></li>
      <li><a href="/deals/">Browse By Deals</a></li>
    </ul>
  </nav>

<%= yield %>
</body>
</html>