<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <title>Burger Tracker</title>
</head>
<body>
  
      
      <div id="head-wrap">
      <div id="welcome-banner">
        <h1>Burger Tracker</h1>
      </div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/days/">Days</a></li>
          <li><a href="/restaurants/">Restaurants</a></li>
          <li><a href="/burgers/">Burgers</a></li>
          <li><a href="/deals/">Deals</a></li>     
        </ul>
      </nav>
      </div>
      <div id="wrapper">
      <%= yield %>
      </div> 

      <footer>
        <ul>
          <li><a href="/restaurants/new">Add a new restaurant here!</a></li>
          <li><a href="/burgers/new">Got a restaurant? Add a burger here!</a></li>
          <li><a href="/deals/new">Got a burger? Add a new deal here!</a></li>
        </ul>    
      </footer>
   
</body>
</html>