<!DOCTYPE html>
<html>
<head>
  <title>Burger Tracker</title>
</head>
<body>
  <h1>Welcome to the Burger Tracker</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/days/">Browse By Day</a></li>
      <li><a href="/restaurants/">Browse By Restaurant</a></li>
      <li><a href="/burgers/">Browse By Burger</a></li>
      <li><a href="/deals/">Browse By Deal</a></li>     
    </ul>
  </nav>

<%= yield %>
</body>
</html>