<h2>Deals</h2>
<p><a href="/deals/new">Add a new deal</a></p>
<hr>

<% @deals.each do |deal| %>
<h3><a href="/deals/<%= deal.id() %>"><%= deal.title() %></a></h3>
<hr>
<% end %>

<p><a href="/deals/new">Add a new deal</a></p>