<h2>Deals</h2>
<div class="create">
  <p><a href="/deals/new">Add a new deal</a></p>
</div>

  <% @deals.each do |deal| %>
  <section>
  <div id="details">
    <h3><a href="/deals/<%= deal.id() %>"><%= deal.title() %></a></h3>
  </div>
  </section>
  <% end %>


