* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(/images/burger_background.jpg);
  background-size: cover;
  text-align: center;
}

h1 {
  color: black;
  text-align: center;
  padding: 10px;
  background-image: url(/images/burger-buns.jpg);
  background-size: cover;
}

nav {
  text-align: center;
  width: 100%;
}

nav ul {
  list-style-type: none;
  display: flex;
  border-left: black solid;
}

nav li {
  display: inline-block;
  background-color: rgba(42, 155, 1, 0.5);
  margin: 0;
  width: 20%;
  float: left;
  clear: right;
  border-right: black solid;
  border-top: black solid;
  border-bottom: black solid;
}

h2 {
  background-color: rgba(242, 40, 4, 0.5);
  padding: 10px;
  text-align: center;
  clear: both;
}

a, a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  color: black;
  background: white;
  border: solid, white;
  border-radius: 30px;
}

nav a:hover {
  color: slategray;
  background-color: limegreen;
  border-radius: 0;
}

nav li a {
  display: block;
  padding: 10px 0 10px 0
}

li {
  list-style-type: none;
}

section {
  background: rgba(107, 65, 7, 0.5);
  margin: 1% 0 1% 25%;
  width: 50%;
  border:dashed brown;
  border-radius: 30px;
}

section a {
  display: block;
}

footer {
  color: black;
  background-image: url(/images/burger-buns-bottom.jpg);
  background-size: cover;
}

footer a:hover {
  background-color: none;
  list-style: underline;
}

footer a:visited {
  color: black;
}

#wrapper {
  background-color: rgba(107, 65, 7, 0.5);
  color: white;
}

.create {
  background-color: rgba(128, 0, 128, 0.5);
  border: dashed purple;
  border-radius:30px;
  width: 30%;
  margin-left: 35%;
}
.create a {
  display: block;
}

section.daily-deal li {

}

/*#welcome-banner {
  background-color: rgba(186, 154, 13, 0);
}*/