* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(/images/burger_background.jpg);
  background-size: cover;
  text-align: center;
}

h1 {
  text-align: center;
  padding: 10px;
  background-image: url(/images/burger-buns.jpg);
  background-size: cover;
}

nav {
  text-align: center;
  width: 100%;
}

nav ul {
  list-style-type: none;
  display: flex;
  border-left: black solid;
}

nav li {
  display: inline-block;
  background-color: rgba(42, 155, 1, 0.5);
  margin: 0;
  width: 20%;
  float: left;
  clear: right;
  border-right: black solid;
  border-top: black solid;
  border-bottom: black solid;
}

h2 {
  background-color: rgba(242, 40, 4, 0.5);
  padding: 10px;
  text-align: center;
  clear: both;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: slategray;
  background-color: limegreen;
}

nav li a {
  display: block;
  padding: 10px 0 10px 0
}

footer {
  background-image: url(/images/burger-buns-bottom.jpg);
  background-size: cover;
}

#wrapper {
  background-color: rgba(107, 65, 7, 0.5);
}