

<h2> Restaurants</h2>
<p><a href="/restaurants/new">Create a new Restaurant!</a></p>
<hr>

<% @restaurants.each() do |restaurant| %>
<h3><a href="/restaurants/<%=restaurant.id%>"><%= restaurant.name() %></a></h3>
<hr>
<% end %>

<p><a href="/restaurants/new">Create a new Restaurant!</a></p>