

<h2> Restaurants</h2>
<div class="create">
  <p><a href="/restaurants/new">Create a new Restaurant!</a></p>
</div>

<% @restaurants.each() do |restaurant| %>
<section>
<h3><a href="/restaurants/<%=restaurant.id%>"><%= restaurant.name() %></a></h3>
</section>
<% end %>

<div class="create">
  <p><a href="/restaurants/new">Create a new Restaurant!</a></p>
</div>