

<h2> Restaurants</h2>

<% @restaurants.each() do |restaurant| %>
<h3><a href="/restaurants/<%=restaurant.id()%>"><%= restaurant.name() %></a></h3>
  <h4>Burgers</h4>
  <ul>
    <% restaurant.burgers().each() do |burger| %>
    <li><%= burger.name() %></li>
    <% end %>
  </ul>

  <h4>Deals</h4>
  <ul>
    <% restaurant.deals().each() do |deal| %>
    <li><%= deal.title() %></li>
    <% end %>
  </ul>
<% end %>

<p><a href="/restaurants/new">Create a new Restaurant!</a></p>