<h2>Enter A New Restaurant</h2>

<form method="post" action="/restaurants/">

  <p>
    <label for="restaurant-name">New Restaurant Name: </label>
    <input id="restaurant-name" type="text" name="name">
  </p>

  <p>
  <input id="restaurant-submit" type="submit" name="Create Restaurant">
  </p>
</form>