<h2>Enter A New Restaurant</h2>

<form method="post" action="/restaurants/">
  <label for="restaurant-name">New Restaurant Name: </label>
  <input id="restaurant-name" type="text" name="name">

  <input type="submit" name="Create Restaurant">
</form>